<div ng-controller="AccountCtrl">
    <h1 class="page-header">Account</h1>

    <h2 class="sub-header">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-8">Account List</div>
            <div class="col-xs-3 col-md-2">
                <form class="form-inline">
                    <input ng-model="search.$" type="text" class="form-control" placeholder="Search...">
                </form>
            </div>
            <div class="col-sm-3 col-md-2" mi-create mi-service="AccountList"></div>
        </div>
    </h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Id</th>
                <th colspan="2">Email</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="account in accounts | filter:search">
                <td>{{ $index }}</td>
                <td>{{ account.id }}</td>
                <td>{{ account.email }}</td>
                <td>
                    <div mi-update-delete mi-id="{{account.id}}" mi-service="AccountList"></div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div mi-form-account mi-service="AccountList"></div>
    <div mi-confirm mi-service="AccountList"></div>
</div>